<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Menu</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Menu:</h1>-->
<!--<br/>-->
<!--<form th:method="post" th:action="@{/menu}" th:object="${dish}">-->
<!--    <label>-->
<!--        <input type="text" th:field="*{id}" placeholder="id">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{name}" placeholder="dish">-->
<!--    </label>-->
<!--    <label>-->
<!--        <input type="text" th:field="*{price}" placeholder="price">-->
<!--    </label>-->
<!--    <button type="submit">Add dish</button>-->
<!--</form>-->
<!--<p th:each="dish : ${dishes}"-->
<!--     th:text="${dish.getId() + '\t' + dish.getName() + '\t' + dish.getPrice() + '\n'}">-->
<!--</p>-->
<!--</body>-->
<!--</html>-->